.sale-card {
  background: #cccea7;
}
.title-text {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  color: #1c1c1c;
}
.off-text {
  font-style: normal;
  font-weight: 600;
  font-size: 84px;
  line-height: 112px;
  color: #1c1c1c;
}
.shop-now {
  padding: 14px 36.5px;
  border-radius: 1px;
}
