<!-- <div class="Wrapper">
  <div class="circle1"></div>
  <div class="d-flex flex-row justify-content-center gap-5 vw-100">
    <div>
      <img
        src="./../../../assets/images/icons/footer/delivery_box.svg"
        class="services"
      />
    </div>
    <div class="vline"></div>
    <div>
      <img
        src="./../../../assets/images/icons/footer/quality.svg"
        class="services"
      />
    </div>
    <div class="vline"></div>
    <div>
      <img
        src="./../../../assets/images/icons/footer/payment.svg"
        class="services"
      />
    </div>
    <div class="vline"></div>
    <div>
      <img
        src="./../../../assets/images/icons/footer/helpline.svg"
        class="services"
      />
    </div>
  </div>
  <!-- <div class="circle2"></div> -->
<!-- </div>
<div class="container subscribe-handler mx-auto pt-5 mt-5">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <p class="headLine">Subscribe to get updates on exciting offers & deals</p>
    <form class="search-wrapper cf">
      <input
        type="text"
        placeholder="Enter your email..."
        required
        style="box-shadow: none"
      />
      <button type="submit">Get Started</button>
    </form>
  </div>
</div>
<div class="WrapContent">
  <div class="Banner">
    <div class="divison1">
      <p>
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries....
      </p>
      <div class="imageLogo">
        <img src="./../../../assets/images/icons/footer/fb.svg" />
        <img src="./../../../assets/images/icons/footer/linkedin.svg" />
        <img src="./../../../assets/images/icons/footer/insta.svg" />
        <img src="./../../../assets/images/icons/footer/twitter.svg" />
        <img src="./../../../assets/images/icons/footer/pinterest.svg" />
      </div>
    </div>
    <div class="divison2">
      <p>ONLINE SHOPPING</p>
      <p>Men’s T-Shirts</p>
      <p>Women’s Wear</p>
      <p>Winter Collections</p>
      <p>Hooded T-Shirts</p>
      <p>Streetwear Collections</p>
    </div>
    <div class="divison3">
      <p>CUSTOMER POLICIES</p>
      <p>About Us</p>
      <p>Terms & Conditions</p>
      <p>Shipping & Returns Policy</p>
      <p>Cancellation & Refund Policy</p>
      <p>Contact Us</p>
    </div>
    <div class="divison4">
      <p>STORE INFORMATION</p>
      <p class="d-flex flex-row align-items-center gap-2">
        <img
          src="./../../../assets/images/icons/footer/location.svg"
          class="newlogo"
        />Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </p>
      <p class="d-flex flex-row align-items-center gap-2">
        <img
          src="./../../../assets/images/icons/footer/call.svg"
          class="newlogo"
        />Call Us: 1234567890
      </p>
      <p class="d-flex flex-row align-items-center gap-2">
        <img
          src="./../../../assets/images/icons/footer/mail.svg"
          class="newlogo"
        />Email Us: info@yourmail.com
      </p>
    </div>
  </div>
  <div class="bottomfooter">
    <p>©2022-23 Powered By dummy team</p>
  </div>
</div> -->

<div class="d-flex flex-row justify-content-center gap-5 wrapper mb-5">
  <img
    src="./../../../assets/images/icons/footer/delivery_box.svg"
    class="img-fluid pt-4 pb-4 mb-5"
  />
  <div class="vline"></div>
  <img
    src="./../../../assets/images/icons/footer/quality.svg"
    class="img-fluid pt-4 pb-4 mb-5"
  />
  <div class="vline"></div>
  <img
    src="./../../../assets/images/icons/footer/payment.svg"
    class="img-fluid pt-4 pb-4 mb-5"
  />
  <div class="vline"></div>
  <img
    src="./../../../assets/images/icons/footer/helpline.svg"
    class="img-fluid pt-4 pb-4 mb-5"
  />
</div>
<!-- subscribe box -->
<div class="container subscribe-handler mx-auto pt-5 mt-5">
  <div class="d-flex justify-content-center align-items-center flex-column">
    <p class="headline">Subscribe to get updates on exciting offers & deals</p>
    <form class="search-wrapper cf">
      <input
        type="text"
        placeholder="Enter your email..."
        required
        style="box-shadow: none"
      />
      <button type="submit">Get Started</button>
    </form>
  </div>
</div>

<!-- website details  -->

<div class="container">
  <hr style="border: 1px solid #e0dfde" />
  <div class="row">
    <div class="col-sm-3 d-flex flex-column mb-4">
      <div class="mb-3">
        Lorem Ipsum is simply dummy text of the printing and typesetting
        industry. Lorem Ipsum has been the industry's standard dummy text ever
        since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book. It has survived not only five
        centuries....
      </div>
      <div class="d-flex flex-row gap-2">
        <img src="./../../../assets/images/icons/footer/fb.svg" />
        <img src="./../../../assets/images/icons/footer/linkedin.svg" />
        <img src="./../../../assets/images/icons/footer/insta.svg" />
        <img src="./../../../assets/images/icons/footer/twitter.svg" />
        <img src="./../../../assets/images/icons/footer/pinterest.svg" />
      </div>
    </div>
    <div class="col-sm-3 d-flex flex-column mb-4">
      <span class="online-shopping-text mb-4">ONLINE SHOPPING</span>
      <a class="text-content text-decoration-none">Men's T-Shirts</a>
      <a class="text-content text-decoration-none">Women's Wear</a>
      <a class="text-content text-decoration-none">Winter Collections</a>
      <a class="text-content text-decoration-none">Hooded T-Shirts</a>
      <a class="text-content text-decoration-none">Streetwear Collections</a>
    </div>
    <div class="col-sm-3 d-flex flex-column mb-4">
      <span class="online-shopping-text mb-4">CUSTOMER POLICIES</span>
      <a class="text-content text-decoration-none">About Us</a>
      <a class="text-content text-decoration-none">Terms & Conditions</a>
      <a class="text-content text-decoration-none">Shipping & Returns Policy</a>
      <a class="text-content text-decoration-none"
        >Cancellation & Refund Policy</a
      >
      <a class="text-content text-decoration-none">Contact Us</a>
    </div>
    <div class="col-sm-3 d-flex flex-column mb-4">
      <span class="online-shopping-text mb-4">STORE INFORMATION</span>
      <span class="d-flex flex-row align-items-center gap-2 mb-3">
        <img
          src="./../../../assets/images/icons/footer/location.svg"
          class="newlogo"
        />Lorem Ipsum is simply dummy text of the printing and typesetting
        industry.
      </span>
      <span class="d-flex flex-row align-items-center gap-2 mb-3">
        <img
          src="./../../../assets/images/icons/footer/call.svg"
          class="newlogo"
        />Call Us: 1234567890
      </span>
      <span class="d-flex flex-row align-items-center gap-2 mb-3">
        <img
          src="./../../../assets/images/icons/footer/mail.svg"
          class="newlogo"
        />Email Us: info@yourmail.com
      </span>
    </div>
  </div>
</div>
<div class="d-flex justify-content-center bottom-bar pt-4 pb-1">
  <p>©2022-23 Powered By dummy team</p>
</div>
