.upper-header {
  color: white;
  background: black;
  padding: 15.5px 0px;
}

.hamburger-icon {
  color: #770015;
  border: none;
  background-color: transparent;
}
.common-icon {
  color: #858585;
}

.navbar-nav {
  flex-direction: row;
  column-gap: 28.35px;
}
