.content {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 48px;
  text-align: center;
  color: #1c1c1c;
}

.line-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.line {
  flex: 1;
  height: 1px;
  background-color: #ffc7d1;
  // margin: 0 10px;
}
