.main-img {
  width: 100vw;
  height: auto;
}
.cursor {
  cursor: pointer;
}

.view-all-btn {
  background: #770015;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height */

  text-transform: uppercase;
  border-radius: 0px;
  padding: 14px 45px;
}
.button-container {
  text-align: center;
}
