/*******************Image hover start*********************/
.product-container {
  position: relative;
  width: 100%;
}

.product-image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

.product-middle {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  column-gap: 16px;
}

.product-container:hover .product-image {
  opacity: 0.3;
}

.product-container:hover .product-middle {
  opacity: 1;
}

.product-text {
  cursor: pointer;
  background-color: white;
  padding: 16px;
  border-radius: 50%;
  box-sizing: border-box;
}

/********************* image hover end ******************/

/********************* price and title styles start *********************/
.card-text {
  text-align: center;
}
.price {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  color: #1f1f1f;
}

.cut-price {
  // width: 29px;
  // height: 18px;
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  line-height: 18px;
  text-decoration-line: line-through;
  color: #ff0000;
}
.card-title {
  text-align: center;
}

.title-text {
  display: inline-block;
  width: 147px;
  word-wrap: break-word;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  text-align: center;

  /* Primary Color_1 */

  color: #1c1c1c;
}
/********************* price and title styles end *********************/

.size-buttons {
  column-gap: 14px;
}

.btn {
  border-radius: 2px;
  border-color: #e6e6e6;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  /* identical to box height */

  text-align: center;
}

.card {
  border: none;
}
